@media (max-width: 1170px) {
	.contact-page {
		height: auto;
		padding: 60px 20px;
	}

	.header-title {
		text-align: center;
		font-size: 40px;
	}

	.contact-text {
		width: 100%;
		height: auto;
		font-size: 20px;
	}

	.social-links {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 10px;
		margin-bottom: 1.5rem;
	}

	.big-box {
		display: flex;
		flex-direction: column;
	}

	.inputs-box {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.inputs-textarea-box {
		gap: 1.5rem;
		display: flex;
		flex-direction: column;
	}

	.final {
		text-align: center;
		font-size: 1rem;
	}
	
	.rights {
		text-align: center;
		font-size: 1rem;
	}
}
