@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Poppins:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Cairo";
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background-color: #4303b2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  color: white;
  /* letter-spacing: 1px; */
  background-color: #272626;
  outline: none;
  border: 2px solid #4b4a4a;
  transition: 0.3s ease;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #7011dd;
}

.active {
  background-color: #7011dd;
}

.layer {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
